<html>
  <head>
     <title> Welcome to Ansible </title>
      <body> 
         <h1> provisioned by {{provisioner_tool}} </h1>
         <h1> Configured by {{cfg_mgr_tool}}<h1>
         
  </head>
</html>
 
